<div class="container section text-center">
    <h2>About Me</h2>
    <p>
        Hi! I'm Ela Juris, a 3rd year student from PUP Manila.
        I specialize in UI/UX design and building visually appealing systems.
    </p>
</div>